<main>
<div class="container shadow" style="padding-top: 20px;">
	<h2 style="display: inline">Flight Tickets</h2> 
	<button type="button" class="btn float-right btn-solid" (click)="openModal(template)">
    Filter tickets
  </button>
	<ng-template #template class="modal">

		<div class="modal-header">
			<h4 class="modal-title">Ticket Filter</h4>
			<button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
					<span aria-hidden="true">&times;</span>
				</button>
		</div>
		
		<div class="modal-body">
			<form novalidate (ngSubmit)="filterTickets()" [formGroup]="ticketSearchForm">
				<div class="form-group">
				<label>Passenger Name:</label>
				<input type="text" formControlName="passenger" class="form-control form-control-sm m-b-0"/>
				</div>

				<div class="form-group">
				<label >Email:</label>
				<input type="text" formControlName="bookedBy" class="form-control form-control-sm"/>
				<select formControlName="bookedBy_lookup" class="form-control form-control-sm">
					<option value="" selected>Email lookup</option>
					<option value="iexact">Exactly matches</option>
					<option value="icontains">Contains</option>
				</select>
				</div>

				<div class="form-group">
				<label >Flight Number:</label>
				<input type="text" formControlName="flightNumber" class="form-control form-control-sm"/>
				</div>

				<div class="form-group">
				<label >Departure Date:</label>
				<input type="date" formControlName="flightDate" class="form-control form-control-sm"/>
				</div> 

				<hr>
				<div class="form-group">
					<button class="btn btn-solid float-left" [disabled]="!ticketSearchForm.valid">Submit</button>
				</div>
			</form>
		</div>

	</ng-template>
  <div class="shadow">         
  <table class="table table-hover">
    <thead>
      <tr>
        <th>Passenger name</th>
        <th>Flight Number</th>
        <th>Ticket Number</th>
        <th>Seat Number</th>
        <th>From</th>
        <th>To</th>
        <th>Date</th>
        <th>Departure Time</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor = "let ticket of tickets">
        <td>{{ ticket.passenger }}</td>
        <td>{{ ticket.seat.flightInfo.number }}</td>
        <td>{{ ticket.id }}</td>
        <td>{{ ticket.seat.seat_number }}</td>
        <td>{{ ticket.seat.flightInfo.departure }}</td>
        <td>{{ ticket.seat.flightInfo.destination }}</td>
        <td>{{ ticket.seat.flightInfo.departureDate }}</td>
        <td>{{ ticket.seat.flightInfo.departureTime }}</td>
      </tr>   
    </tbody>
  </table>
  </div>
</div>
</main>
