body {
	height:1500px;
}
nav {
	border-top: 5px solid #660033;
}
#footer {
	height: 100px; background-color: #999;
}
span.error {
	width: 100%;
	margin-top: 0.25rem;
	font-size: 80%;
	color: #dc3545;
}
label, .form-control{
	font-size: 15px;
	height: 35px !important;
	width: 100%;
}
label {
	margin-bottom: 0 !important;
}
.card {
	width: 400px;
	margin-bottom: 40px;
	margin-top: 40px;
	padding-bottom: 20px;
}
.card-header {
	background-color: #660033;
	color: white;
	margin-bottom: 20px;
}
.top-bar {
	background-image: url('assets/img/aeroplane2.jpg');
		background-size: cover;
		background-repeat: no-repeat;
		background-position: center;
		height: 200px;
	}
.card-holder {
	width: 398px;
	}
input[type="checkbox"] {
	margin-left: 5px;
}


.btn {
	border: solid 1px #660033;
}

.btn:hover{
	color: white;
	background-color: #660033;
}

@media screen and (max-width: 600px) {
.col-md-6, button, .card {
			width: 100%;
			margin-top: 10px;
			margin-left: auto;
	}
	.card {
			margin: 10px;
	}
}
@media screen and (max-width: 900px) {
.card {
			width: 70%;
	}
}
/* You can add global styles to this file, and also import other style files */
